.MuiChartsAxis-tickContainer {
  min-height: 150px !important;
}

.MuiChartsAxis-tickLabel {
  font-weight: bold;
}

#customHeader{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 16px;
  margin-bottom: 15px;
}

button {
  background-color: #554763;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 96px;
  -webkit-appearance: none;
  -moz-appearance: none;
}


button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.pin {
  background-color: white;
  border-radius: 48px;
  height: 48px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 48px;
  transition: left ease .5s;
}

button.on {
  background-color: #405f61;
}

button.on .pin {
  left: 47px;
}

.custom-button-container{
  border: thick double #32a1ce;
  border-radius: 3px;
  gap: "16px";
  user-select: none;
}

.label-container{
  cursor: pointer; 
  text-align: center; 
  min-width: 50px;
  padding: 0 10px;
  background: #405f61;
  border-radius: 20px;
}

.custom-label{
  margin: 0 auto;
  font-weight: 700; 
  color: white; 
  cursor: pointer;
  user-select: none;
}

.no-items{
  font-size: 28px;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  html, body,  #root {
    background: rgb(26, 26, 26);
  }
  text{
    fill:  white !important;
  }
  .svg-items{
    fill:  white;
  }
  .no-items{
    color: white;
  }
}